<a href="https://colab.research.google.com/github/diego19508/Greenland/blob/main/Data1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Greenland/v03_L3/v03_L3/EGP_hour_v03_L3.txt', delimiter = "\t")

In [3]:
df

                            time  ...  SurfaceHeight_summary(m)
0      2016-05-01 00:00:00+00:00  ...                    -999.0
1      2016-05-01 01:00:00+00:00  ...                    -999.0
2      2016-05-01 02:00:00+00:00  ...                    -999.0
3      2016-05-01 03:00:00+00:00  ...                    -999.0
4      2016-05-01 04:00:00+00:00  ...                    -999.0
...                          ...  ...                       ...
32323  2020-01-07 19:00:00+00:00  ...                    -999.0
32324  2020-01-07 20:00:00+00:00  ...                    -999.0
32325  2020-01-07 21:00:00+00:00  ...                    -999.0
32326  2020-01-07 22:00:00+00:00  ...                    -999.0
32327  2020-01-07 23:00:00+00:00  ...                    -999.0

[32328 rows x 57 columns]

In [7]:
all_columns_list = df.columns.values.tolist()
all_columns_list

['time',
 'Year',
 'MonthOfYear',
 'DayOfMonth',
 'HourOfDay(UTC)',
 'DayOfYear',
 'DayOfCentury',
 'AirPressure(hPa)',
 'AirTemperature(C)',
 'AirTemperatureHygroClip(C)',
 'RelativeHumidity(%)',
 'SpecificHumidity(g/kg)',
 'WindSpeed(m/s)',
 'WindDirection(d)',
 'SensibleHeatFlux(W/m2)',
 'LatentHeatFlux(W/m2)',
 'ShortwaveRadiationDown(W/m2)',
 'ShortwaveRadiationDown_Cor(W/m2)',
 'ShortwaveRadiationUp(W/m2)',
 'ShortwaveRadiationUp_Cor(W/m2)',
 'Albedo_theta<70d',
 'LongwaveRadiationDown(W/m2)',
 'LongwaveRadiationUp(W/m2)',
 'CloudCover',
 'SurfaceTemperature(C)',
 'HeightSensorBoom(m)',
 'HeightStakes(m)',
 'DepthPressureTransducer(m)',
 'DepthPressureTransducer_Cor(m)',
 'IceTemperature1(C)',
 'IceTemperature2(C)',
 'IceTemperature3(C)',
 'IceTemperature4(C)',
 'IceTemperature5(C)',
 'IceTemperature6(C)',
 'IceTemperature7(C)',
 'IceTemperature8(C)',
 'TiltToEast(d)',
 'TiltToNorth(d)',
 'TimeGPS(hhmmssUTC)',
 'LatitudeGPS(degN)',
 'LongitudeGPS(degW)',
 'ElevationGPS(m)',
 'HorDilOfPrecGPS',
 'LoggerTemperature(C)',
 'FanCurrent(mA)',
 'BatteryVoltage(V)',
 'time.1',
 'Albedo',
 'SnowHeight(m)',
 'SurfaceHeight(m)',
 'DepthPressureTransducer_Cor_adj(m)',
 'SnowHeight_adj(m)',
 'SurfaceHeight_adj(m)',
 'SurfaceHeight1_adj(m)',
 'SurfaceHeight2_adj(m)',
 'SurfaceHeight_summary(m)']

In [8]:
snow_depht = ["time", "Year", "MonthOfYear", "DayOfMonth", "HourOfDay(UTC)","DayOfYear", "DayOfCentury","SnowHeight(m)"]
subset = df[snow_depht]
subset.head()

                        time  Year  ...  DayOfCentury  SnowHeight(m)
0  2016-05-01 00:00:00+00:00  2016  ...          5966         -999.0
1  2016-05-01 01:00:00+00:00  2016  ...          5966         -999.0
2  2016-05-01 02:00:00+00:00  2016  ...          5966         -999.0
3  2016-05-01 03:00:00+00:00  2016  ...          5966         -999.0
4  2016-05-01 04:00:00+00:00  2016  ...          5966         -999.0

[5 rows x 8 columns]

In [11]:
subset

                            time  Year  ...  DayOfCentury  SnowHeight(m)
0      2016-05-01 00:00:00+00:00  2016  ...          5966         -999.0
1      2016-05-01 01:00:00+00:00  2016  ...          5966         -999.0
2      2016-05-01 02:00:00+00:00  2016  ...          5966         -999.0
3      2016-05-01 03:00:00+00:00  2016  ...          5966         -999.0
4      2016-05-01 04:00:00+00:00  2016  ...          5966         -999.0
...                          ...   ...  ...           ...            ...
32323  2020-01-07 19:00:00+00:00  2020  ...          7312         -999.0
32324  2020-01-07 20:00:00+00:00  2020  ...          7312         -999.0
32325  2020-01-07 21:00:00+00:00  2020  ...          7312         -999.0
32326  2020-01-07 22:00:00+00:00  2020  ...          7312         -999.0
32327  2020-01-07 23:00:00+00:00  2020  ...          7312         -999.0

[32328 rows x 8 columns]